@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

nav {
  transition: box-shadow 0.2s ease-in-out;
}
